#header {
    background:#fff;
    margin: auto;
}
.hd_bar{
    height:34px;
	border-bottom:1px solid #e5e5e5;
    background-color:#f5f5f5;
    line-height: 34px;
}
.hd_bar .welcome{
    margin-left: 200px;
}
.hd_bar .welcome li{
    float: left;
    margin-left: 20px;
}
.hd_bar .user{
    margin-right: 200px;
}
.hd_bar .user li{
    float: right;
    margin-right: 20px;
}
.vipico img{
    width: 12px;
    height: 17px;
    vertical-align: middle;
}
.head_main{
    width: 1196px;
    margin: 15px auto 0;
    position: relative;
}
.logo{
    display: inline-block;
    margin-right: 90px;
}
.search_box{
    display: inline-block;
    width: 460px;
    height: 32px;
    border-color: #09c762;
    border: 2px solid #1e9246;
    margin-bottom: 19px;
}
.search_box .s_input{
    float: left;
    width: 228px;
    margin: 5px;
    height: 20px;
    line-height: 20px;
    color: #bbb;
    outline: 0;
    border: 0;
    background: 0;
}
.search_box .submit{
    font-size: 15px;
    color: #fff;
    float: right;
    height: 32px;
    width: 62px;
    padding-left: 6px;
    border: 0;
    background-color: #1e9246;
    cursor: pointer;
    letter-spacing: 5px;
    overflow: hidden;
    
}
.search_box .submit:hover{
    color: yellow;
}
.search_box_hot{
    display: inline-block;
    position: absolute;
    top: 46px;
    right: 424px;
    width: 450px;
    height: 16px;
    overflow: hidden;
}
.search_box_hot span{
    color: #999;
}
.search_box_hot a{
    color: #666;
    margin-left: 10px;
}
.search_box_hot a:hover{
    color: #09c762;
}
.intro{
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 0;
    width: 352px;
    height: 58px;
    padding-top: 20px;
}
.intro ul{
    margin-bottom: 16px;
}
.intro li{
    float: left;
    width: 100px;
    height: 46px;
    overflow: hidden;
    margin-top: -10px;
}
.intro li h4{
    margin-top: -30px;
    margin-left: 40px;
}
.intro li img{
    width: 30px;
    height: 32px;
    vertical-align: middle;
}
.intro li p{
    display: inline-block;
    margin-left: 40px;
}
.head_nav{
    background-color: #09c762;
    height: 35px;
    margin-top: 15px;
}
.hd_nav_bd{
    position: relative;
    width: 1196px;
    margin: 0 auto;
}
.main_nav_link{
    position: relative;
    display: inline-block;
    width: 214px;
    height: 35px;
    line-height: 35px;
    background-color: #000;
    text-align: center;
}
.main_nav_link a{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.ejcd{
    position: absolute;
    display: none;
    box-shadow: -2px 4px 4px rgba(200,200,200,0.3);
    z-index: 11;
}
.ejcd li{
    width: 214px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 13px;
    opacity: .6;
}
.main_nav_link:hover .ejcd{
    display: block;
}
.sub_bav{
    height: 35px;
    margin-left: 214px;
    margin-top: -35.5px;
    line-height: 35px;
    background-color: #09c762;
}
.sub_bav li{
    width: 112px;
    font-size: 14px;
    float: left;
    text-align: center;
    color: white;
}
.sub_bav li:hover{
    background-color: black;
    opacity: .3;
}
.sub_bav .current{
    width: 56px;
    background-color: black;
    opacity: .5;
}
.hd_car{
    margin-top: -36px;
    text-align: center;
}
.hd_car .tit{
    width: 168px;
    height: 27px;
    padding-top: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #666;
    float:right;
    background: url(../images/car.png) no-repeat;
    background-size:  30px 30px;
    background-color: #fff;
}
.index_banner{
    width: 1196px;
    height: 500px;
    margin: auto;
    position: relative;
}
#nav{
    position: absolute;
    width: 200px;
    height: 15px;
    bottom: 60px;
    right: 500px;
    border-radius: 8px;
    z-index: 10;
    background-color: #cdcdcd;
    opacity: 0.8;
}
#nav li{
    float: left;
    width: 15px;
    height: 15px;
    color: #ffffff;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    margin-left: 28px;
    background-color: skyblue;
}
#nav li.select{
    background-color: #993399;
}
#banner_main{
    width: 1196px;
    height: 500px;
    overflow: hidden;
}
#banner_main li{
    width: 1196px;
    height: 500px;
    display: none;
}
#banner_main li img{
    width: 1196px;
    height: 500px;
}
#banner_main li.select{
    display: block;
}
.w_max{
    width: 1205px;
    margin: auto;
    margin-bottom: 20px;
}
.surprise{
    height: 45px;
    margin-top: 30px;
    background-color: #f5f5f5;
}
.surprise_con{
    display: inline-block;
}
.gaoshiqing{
    display: inline-block;
    float: left;
}
.clearfixbox{
    float: left;
}
.clearfix{
    float: left;
}
.clearfix li{
    display: inline-block;
    background-color: #fff;
    height: 380px;
}
.sur_hear{
    display: inline-block;
    width: 243px;
    height: 289px;
    text-align: center;
    font-size: 12px;
}
.sur_hear img{
    margin-top: 20px;
}
.sur_hear img:hover{
    width: 210px;
    height: 210px;
    transition: All 1s ease-in-out;
}
.sur_hear h3{
    background-color: #fff;
}
.sur_price{
    text-align: center;
}
.sur_price1{
    /* float: left; */
    display: inline-block;
}
.sur_price span{
    color: #ff4400;
    font-size: 22px;
    font-weight: bold;
}
.sur_price p{
    text-decoration: line-through;
    color: #999;
    background-color: #fff;
}
.fr{
    display: inline-block;
    width: 83px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: #09c762;
    border-radius: 20px 0 0 20px;
}
.fr:hover{
    width: 93px;
}
.series_list{
    width: 1196px;
    margin: 0 auto;
}
.series_box{
    height: 400px;
    margin-bottom: 30px;
}
.series_info{
    width: 200px;
    height: 399px;
    border-bottom: 1px solid #ccc;
    float: left;
}
.series_name{
    width: 200px;
    height: 76px;
    background-color: #09c762;
    text-align: center;
    line-height: 76px;
    color: white;
}
.series_name h2{
    background-color: #09c762;
    font-size: 24px;
    font-weight: normal;
}
.brand{
    border-left: 1px solid #ccc;
    padding: 8px 0;
    background-color: #fff;
    border-right: 1px solid #ccc;
}
.brand li{
    padding: 10px 0;
    height: 50px;
    overflow: hidden;
    text-align: center;
}
.brand li img{
    width: 100px;
    height: 50px;
}
.brand_cata{
    padding: 12px 0 12px 12px;
    height: 73px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.brand_cata a{
    display: inline-block;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    color: #666;
    width: 80px;
    margin-right: 10px;
    overflow: hidden;
}
.series_pic{
    height: 400px;
    width: 340px;
    float: left;
}
.series_pic img{
    width: 340px;
    height: 400px;
}
.series_pic img:hover{
    width: 350px;
    height: 420px;
    transition: All 1s ease-in-out;
}
.pro_list{
    width: 654px;
    height: 398px;
    overflow: hidden;
    float: right;
    border: 1px solid #ccc;
    background-color: #fff;
}
.pro_list li{
    float: left;
    display: inline;
    width: 177px;
    height: 179px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}
.pro_list li p{
    background-color: #fff;
}
.pro_list li p:nth-child(1){
    text-align: center;
}
.pro_list li p:nth-child(3){
    color: #09c762;
    font-size: 14px;
}
.pro_list li h3{
    background-color: #fff;
    color: #666;
    height: 18px;
    overflow: hidden;
    font-size: 12px;
    margin: 10px 0 5px;
    font-weight: 400;
}
.pro_list li img{
    width: 120px;
    height: 120px;
}
.pro_list li img:hover{
    opacity: 0.7;
}
.temai_box{
    width: 1196px;
    margin: 25px auto 50px;
}
.temai_box h2{
    font-size: 20px;
    font-family: 黑体;
    padding-bottom: 8px;
    font-weight: 400;
}
.temai_list li{
    float: left;
    width: 277px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 20px 20px 0;
    box-shadow: 0 0 3px rgba(200,200,200,0.5);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.temai_list li img{
    width: 240px;
    height: 240px;
}
.temai_list li p{
    background-color: #fff;
}
.temai_list li h3{
    background-color: #fff;
    margin: 13px 13px 5px;
    height: 44px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.temai_list li h3:hover{
    color: #09c762;
}
.temai_list li p:nth-child(1){
    text-align: center;
}
.temai_list li p.price{
    padding: 5px 12px 17px 12px;
    height: 28px;
    overflow: hidden;
    font-size: 18px;
    position: relative
}
.temai_list li p.price .bd{
    font-size: 20px;
    color: #09c762;
    font-weight: bold;
}
.temai_list li p.price .sale{
    height: 21px;
    line-height: 21px;
    padding-left: 15px;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-decoration: line-through
}
.temai_list li p.price .sale b{
    margin-right: 3px;
    font-weight: 400;
}
.temai_list li p.price .num{
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 12px;
    color: #666;
}
.temai_list li p.price .num strong{
    font-weight: 400;
}
#footer{
    width: 100%;
    margin-top: 50px;
    display: inline-block;
}
.footer0{
    width: 100%;
    background: #09c762 none repeat scroll 0 0;
    height: 90px;
}
.ft_bg{
    margin: 0 auto;
    width: 1200px;
}
.ft_bg ul li{
    float: left;
}
.footer1{
    height: 22px;
    padding: 20px 0 15px;
    text-align: center;
}
.footer1 a{
    display: inline-block;
    padding: 0 20px 0 21px;
    color: #333;
}
.footer2{
    text-align: center;
    padding: 8px 0;
}
.footer2 p{
    padding: 5px 0;
    color: #666;
}
.footer2 p span{
    display: inline-block;
    padding: 0 20px;
}
.footer2 p span:nth-child(2){
    font-size:14px;
}
.footer2 p span em{
    color: #09c762;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
}
.fh{
    width: 60px;
	height: 61px;
	font-size: 20px;
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: pink;
	line-height: 40px;
}
.fh img{
    width: 60px;
	height: 61px;
}
#userInfo {
    /* width: 200px; */
    /* display: inline-block; */
    height: 35px;
    /* position: fixed; */
    text-align: center;
    line-height: 35px;
}
#ad {
    position: fixed;
    background-color: #fff;
    width: 300px;
    height: 280px;
    right: 0;
    bottom: 0;
    /* display: none; */
}
#btn{
    float: right;
}